<li class="conversion">
  <div class="frind-img">
    <img [src]="user.pathimage" class="rounded-circle user_img" alt="User Image">
  </div>
  <div class="frind-info">
    <span class="span-info">
      <p> {{user.lastname}}</p>
      
    </span>
  </div>
  <div class="last-message">
    <span class="description"><h4>{{ description }}...</h4></span>
  </div>
  <div class="point">
    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
      <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
    </svg>
  </div>
</li>
