<div class="container">
  <div class="card">
            <div class="wrap-input100 validate-input" data-validate="Username is required">
              <input [(ngModel)]="sessionObj.matter"  name="matter" class="input100" required placeholder="matter">
              <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Username is required">
              <input [(ngModel)]="sessionObj.prof" name="prof" class="input100" required placeholder="prof">
              <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Username is required">
              <input [(ngModel)]="sessionObj.date" name="date" type="date"  class="input100" required placeholder="date">
              <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Username is required">
              <input [(ngModel)]="sessionObj.salle"  name="salle" class="input100" required placeholder="salle">
              <span class="focus-input100"></span>
            </div>
              <div class="container-login100-form-btn m-t-17"></div>
              <button  class="login100-form-btn"  (click)="create()" >
                create
              </button>

  </div>


