@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");
.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #00dbde, #fd71ff);
  display: flex;
  flex-direction: column;
}



.navbar {
  width: 100vw;
  height: 12vh;
  padding: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
  grid-template-rows: repeat(10, 1fr); /* 10 lignes */
  overflow-y: auto;
  row-gap: 2vh; /* Espacement entre les lignes en fonction de la hauteur de l'écran */
  column-gap: 1vw; /* Espacement entre les colonnes en fonction de la largeur de l'écran */
  margin-left: 23vw;
  margin-top: 6vh;
  width: 80vw; /* Largeur relative à l'écran */
}
.breakpoint {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: auto;
  max-height: 90vh;
  z-index: 1000;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
}
.timetable {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Poppins", serif;
  margin-top: 5vh; /* Marge en fonction de la hauteur de l'écran */
}
.blurred {
  filter: blur(3px);
  transition: filter 0.3s ease-in-out;
}


ul {
  display: grid;
  grid-template-columns: repeat(5, 3fr);
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    width: 5vw; /* Largeur proportionnelle à la largeur de la fenêtre */
    height: 5vh; /* Hauteur proportionnelle à la hauteur de la fenêtre */
    margin: 1vw; /* Espace proportionnel entre les éléments basé sur la largeur de la fenêtre */
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 2vw; /* Rayon de bordure proportionnel à la largeur de la fenêtre */
    padding: 2vw; /* Padding proportionnel */
    cursor: pointer;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: transform 0.3s ease-in-out;

    time {
      font-size: 2vw; /* Taille de la police proportionnelle à la largeur de la fenêtre */
      margin: 0 0 1rem 0;
      font-weight: 500;
    }
  }

  /* Pour l'élément actuel (aujourd'hui) */
  .today {
    background: #ffffff70;

    time {
      font-weight: 800;
    }
  }

  /* Effet d'agrandissement au survol */
  li:hover {
    transform: scale(1.1);
  }
}
