<div class="container">
  <div class="card">

    <div class="card-header">
      <img src="https://th.bing.com/th/id/OIP.d5iDHDAYaekDIQMvW0q_IAHaHa?w=626&h=626&rs=1&pid=ImgDetMain" alt="rover" />
    </div>


    <div class="card-body">

      <div class="discription">
        <h5>hi i am  rabie</h5>
         </div>




         <div class="discription">
           <ul class="tableaux">
          <li class="login100-form-btn">
            <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon-love bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
          </svg>
          <a>like</a>
          </li>

          <li class="login100-form-btn" id="comment">
            <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon-comment bi bi-chat-fill" viewBox="0 0 16 16">
              <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"/>
          </svg>
          <a>comments</a>
          </li>

        </ul>
         </div>



         <div class="discription">
          <div class="user">
            <img src="https://th.bing.com/th/id/OIP.IGNf7GuQaCqz_RPq5wCkPgHaLH?rs=1&pid=ImgDetMain" alt="user" />
            <div class="user-info">
              <h5>July Dec</h5>
              <small>2h ago</small>
            </div>
          </div>
         </div>










    </div>
  </div>
</div>
